@import "../../assets/sass/breakpoints.scss";

.team-page {
  .picture {
    border-bottom: 35px solid var(--primary-color);
  }

  .box2 {
    position: relative;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .name {
      font-size: 10vw;
    }

    .position {
      font-size: 5vw;
      color: var(--primary-color);
    }

    .linkedin-icon {
      position: absolute;
      width: 12.5vw;
      right: 0;
    }
  }

  .motivational-phrase {
    position: relative;
    max-height: 550px;
    overflow: hidden;

    .phrase {
      position: absolute;
      top: 5%;
      font-weight: bold;
      text-align: center;
      width: 100%;

      .highlight {
        color: #fff;
      }
    }
  }

  @include sm {
    .motivational-phrase .phrase {
      top: 10%;
      font-size: 5vw;
      padding: 0 25px;
    }
  }

  @include md {
    .box2 {
      .name {
        font-size: 7vw;
      }

      .position {
        font-size: 2.5vw;
      }

      .linkedin-icon {
        width: 7.5vw;
        bottom: -20%;
        right: -10%;
      }
    }
  }

  @include lg {
    .motivational-phrase {
      .city-img {
        transform: translateY(-8%);
      }

      .phrase {
        font-size: 4vw;
        padding: 0 50px;
      }
    }

    .box2 {
      .name {
        font-size: 3.5vw;
      }

      .position {
        font-size: 2vw;
      }

      .linkedin-icon {
        width: 5vw;
        bottom: -10%;
        right: -10%;
      }
    }
  }

  @include xl {
    .motivational-phrase {
      .city-img {
        transform: translateY(-25%);
      }

      .phrase {
        font-size: 2vw;
      }
    }

    .box2 {
      .position {
        font-size: 1.4vw;
      }

      .description {
        font-size: 1.5vw;
      }

      .linkedin-icon {
        bottom: -15%;
        right: -12%;
      }
    }
  }
}
