*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

:root {
  --primary-color: #fe7f2d;
  --secondary-color: #233d4d;
  --auxiliar-color: #048ba8;
}
