@import "./breakpoints.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Onest", sans-serif;
}

:root {
  --primary-color: #fe7f2d;
  --secondary-color: #233d4d;
  --auxiliar-color: #f4faff;
  --navbar-height: 65px;
}

body {
  color: var(--secondary-color);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  object-fit: contain;
}

@include md {
  :root {
    --navbar-height: 85px;
  }
}

@include lg {
  :root {
    --navbar-height: 100px;
  }
}
