*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Onest", sans-serif;
}

:root {
  --primary-color: #fe7f2d;
  --secondary-color: #233d4d;
  --auxiliar-color: #f4faff;
}

a {
  text-decoration: none;
  color: inherit;
}
